.DS_Store
resources/monome_diagrams/__MACOSX/monome_diagrams/._ansible_CLEAN.ai
resources/monome_diagrams/__MACOSX/monome_diagrams/._ansible_LEVELS_1.2.ai
resources/monome_diagrams/__MACOSX/monome_diagrams/._arc_LEVELS_config_ALL_1.4.ai
resources/monome_diagrams/__MACOSX/monome_diagrams/._grid_KR_NAVIGATION_1.2.ai
resources/monome_diagrams/__MACOSX/monome_diagrams/._grid_MP_RULE_GLYPHS_1.2.ai
resources/monome_diagrams/monome_diagrams/arc_LEVELS_config_ALL_1.4.ai
resources/monome_diagrams/monome_diagrams/grid_MP_OVERVIEW_1.1.ai
resources/monome_diagrams/monome_diagrams/grid_MP_RULE_GLYPHS_1.2.ai
resources/monome_diagrams/monome_diagrams/grid_KR_NAVIGATION_1.2.ai
resources/monome_diagrams/monome_diagrams/ansible_LEVELS_1.2.ai
resources/monome_diagrams/monome_diagrams/ansible_CLEAN.ai
resources/monome_diagrams/__MACOSX/monome_diagrams/._grid_MP_OVERVIEW_1.1.ai
