<div data-collapse="medium" data-animation="default" data-duration="400" class="mobile-header w-nav">

  <div class="mobile-header-container">

     <nav role="navigation" class="mobile-nav w-nav-menu">
     	<a href="{{ site.url }}/docs" class="mobile-nav-link w-nav-link">Docs</a>
     	<a href="https://llllllll.co/" target="_blank" class="mobile-nav-link w-nav-link">Community</a>
     	<a href="{{ site.url }}/about" class="mobile-nav-link w-nav-link">About</a>
     </nav>

     <a href="{{ site.url }}" class="site-logo w-nav-brand">monome</a>
 </div>

  <div class="mobile-menu-container w-container">
    <div class="mobile-menu-btn w-nav-button">
      <div class="menu-icon">☰</div>
    </div>
  </div>

</div>