<div class="mobile-footer">
	<ul class="link-list">
   		<li class="link-list-item"><a href="mailto:info@monome.org" class="ui-text ui-link ui-link-sm">Info@monome.org</a></li>
   		<li class="link-list-item"><a href="https://twitter.com/monomes" class="ui-text ui-link ui-link-sm">@monomes</a></li>
   		<li class="link-list-item-2">
          <div class="createsend-button" style="height:15px;display:block;" data-listid="i/0D/9FA/452/6323E568A08E35BB">
</div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
          </li>
 	</ul>
</div>