<div class="col-sidebar">
  <div class="fixed-col">

    <div class="site-header">

        <a href="{{ site.url }}" class="site-logo w-nav-brand">
          monome
        </a>

    </div>

    <div class="col-container sidebar-content">
      <div class="col-section">
        <h1 class="f1 measure">sound machines for the exploration of time and space</h1>
        <a href="{{ site.url }}/docs" class="ui-text ui-link">Docs</a>
        <a href="https://llllllll.co/" target="_blank" class="ui-text ui-link" >Community</a>
        <a href="{{ site.url }}/about" class="ui-text ui-link">About</a></div>
    </div>
    <div class="site-footer">
      <div class="site-footer-nav">
        <ul class="link-list">
          <li class="link-list-item"><a href="mailto:info@monome.org" class="ui-text ui-link ui-link-sm">Info@monome.org</a></li>
          <li class="link-list-item"><a href="https://twitter.com/monomes" target=_blank" class="ui-text ui-link ui-link-sm">@monomes</a></li>
          <li class="link-list-item-2">
          <div class="createsend-button" style="height:15px;display:block;" data-listid="i/0D/9FA/452/6323E568A08E35BB">
</div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>