//
// Labels (not the form kind)
//

.label,
.label-blue {
  width: 100%;
  display: inline-block;
  padding-top: 1.0em;
  padding-right: 1.0em;
  padding-bottom: 1.0em;
  padding-left: 1.0em;
  //margin-right: $sp-2;
  //margin-left: $sp-2;
  color: $white;
  vertical-align: middle;
  background-color: $blue-100;
  @include fs-4;
  border-radius: $border-radius;
  //border-radius: 3px;
}

.label-green {
  background-color: $green-200;
}

.label-purple {
  background-color: $purple-100;
}

.label-red {
  background-color: $red-200;
}

.label-grey {
  background-color: $grey-dk-100;
}

.label-yellow {
  color: $grey-dk-200;
  background-color: $yellow-200;
}
